/* [project]/components/work/work.css [app-client] (css) */
.work__filters {
  -moz-column-gap: .75rem;
  margin-bottom: var(--mb-2);
  justify-content: center;
  align-items: center;
  column-gap: .75rem;
  display: flex;
}

.work__item {
  cursor: pointer;
  color: var(--title-color);
  font-weight: var(--font-medium);
  text-transform: capitalize;
  border-radius: .5rem;
  padding: .25rem .75rem;
}

.work__item:hover {
  background-color: var(--title-color);
  color: var(--container-color);
}

.work__container {
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  gap: 3rem;
  position: relative;
}

.work__card {
  background-color: var(--container-color);
  z-index: 1;
  border: 1px solid #0000001a;
  border-radius: 1rem;
  padding: 1.25rem;
  transition: transform .3s, box-shadow .3s;
  position: relative;
}

.work__card:hover {
  z-index: 2;
  transform: translateY(-5px);
  box-shadow: 0 5px 15px #0000001a;
}

.work__img {
  width: 295px;
  margin-bottom: var(--mb-1);
  border-radius: 1rem;
}

.work__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-5);
}

.work__button {
  color: var(--text-color);
  font-size: var(--small-font-size);
  -moz-column-gap: .25rem;
  cursor: pointer;
  align-items: center;
  column-gap: .25rem;
  transition: all .3s;
  display: inline-flex;
}

.work__button-icon {
  font-size: 1rem;
  transition: all .3s;
}

.work__button:hover {
  color: var(--title-color-dark);
  transform: translateX(.25rem);
}

.work__button:hover .work__button-icon {
  transform: translateX(.25rem);
}

.active-work {
  background-color: var(--title-color);
  color: var(--container-color);
}

.work__button-container {
  margin-top: var(--mb-0-75);
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.work__tooltip {
  background-color: var(--title-color);
  color: var(--container-color);
  font-size: var(--smaller-font-size);
  white-space: nowrap;
  opacity: .9;
  pointer-events: none;
  z-index: 3;
  border-radius: .25rem;
  padding: .25rem .5rem;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.work__tooltip:after {
  content: "";
  border-style: solid;
  border-width: 5px;
  border-color: var(--title-color) transparent transparent transparent;
  margin-left: -5px;
  position: absolute;
  top: 100%;
  left: 50%;
}

.work__preview {
  z-index: 9999;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  scrollbar-width: thin;
  scrollbar-color: #0003 #0000000d;
  background-color: #ffffffe6;
  border: 1px solid #00000014;
  border-radius: 1.5rem;
  width: 70vw;
  max-width: 1000px;
  height: 70vh;
  max-height: 700px;
  transition: opacity .3s, background-color .3s;
  animation: .3s scaleIn;
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: auto;
  transform: translate(-50%, -50%);
  box-shadow: 0 15px 35px #0003;
}

.work__preview::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.work__preview::-webkit-scrollbar-track {
  background: #0000000d;
  border-radius: 2px;
}

.work__preview::-webkit-scrollbar-thumb {
  background: #0003;
  border-radius: 4px;
  transition: background .3s;
}

.work__preview::-webkit-scrollbar-thumb:hover {
  background: #00000059;
}

.work__preview:hover {
  scrollbar-color: #00000059 #0000001a;
  background-color: #ffffffb3;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%)scale(.9);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%)scale(1);
  }
}

.work__preview-iframe {
  transform-origin: 0 0;
  border: none;
  border-radius: 1.5rem;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  transform: scale(1);
}

.work__preview-overlay {
  opacity: 0;
  background: linear-gradient(to top, #ffffffe6, #fff0);
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 1rem;
  transition: opacity .3s;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.work__preview:hover .work__preview-overlay {
  opacity: 1;
}

.work__preview-button {
  background-color: var(--title-color);
  color: var(--container-color);
  font-size: var(--normal-font-size);
  cursor: pointer;
  font-weight: var(--font-medium);
  border: none;
  border-radius: .25rem;
  padding: .75rem 1.5rem;
  transition: all .3s;
}

.work__preview-button:hover {
  background-color: var(--title-color-dark);
  transform: translateY(-2px);
  box-shadow: 0 5px 10px #0003;
}

.work__preview-backdrop {
  z-index: 9998;
  background-color: #00000080;
  animation: .3s fadeIn;
  position: fixed;
  inset: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 992px) {
  .work__container {
    gap: 1.25rem;
  }

  .work__card {
    padding: 1rem;
  }

  .work__img {
    margin-bottom: .75rem;
  }

  .work__title {
    margin-bottom: .25rem;
  }

  .work__preview {
    width: 80vw;
    height: 70vh;
  }
}

@media screen and (max-width: 768px) {
  .work__container {
    grid-template-columns: max-content;
  }

  .work__preview {
    width: 85vw;
    height: 65vh;
  }

  .work__preview, .work__preview-backdrop {
    display: none !important;
  }
}

@media screen and (max-width: 576px) {
  .work__container {
    grid-template-columns: 1fr;
  }

  .work__img {
    width: 100%;
  }

  .work__preview {
    border-radius: 1.25rem;
    width: 95vw;
    height: 55vh;
  }

  .work__preview-iframe {
    border-radius: 1.25rem;
  }
}

@media screen and (max-width: 350px) {
  .work__item {
    font-size: var(--small-font-size);
  }

  .work__filters {
    -moz-column-gap: .25rem;
    column-gap: .25rem;
  }
}

/*# sourceMappingURL=components_work_work_01ytfhl.css.map*/